<br>
<br>
<br>

<div class="container">
<h3>Les patients du cabinet</h3>

<mat-grid-list cols="4" rowHeight="350px" >
  <mat-grid-tile *ngFor="let pat of patients.patients ; let i = index"
                 [style.background]='lightblue' >

    <mat-card class="example-card" style="margin: 10px;">
      <div [ngStyle]="{'height':'80px'}">
      <mat-card-header >

        <div mat-card-avatar  [ngStyle]="{'background-image':'url(/data/an.png)','background-size' : 'cover'}"></div>
        <mat-card-title>{{getNomPat(pat) }}</mat-card-title>
        <mat-card-subtitle>{{getSexe(pat)}}</mat-card-subtitle>
      </mat-card-header>
      </div>
      <div [ngStyle]="{'height':'150px'}">
      <mat-card-content>
        <h4 [ngStyle]="{color : getColorE(pat.adresse)}">etage : {{getEt(pat.adresse)}}</h4>
        <h4 [ngStyle]="{color : getColorN(pat.adresse)}">numero : {{getNum(pat.adresse)}}</h4>
        <h4>rue : {{pat.adresse.rue}}</h4>
        <h4>ville : {{pat.adresse.ville}}</h4>
      </mat-card-content>
      </div>
      <div [ngStyle]="{'height':'20px'}">
      <button class="button"
              (click)="myFacture(i)">Facture</button>
        <button class="button"
                (click)="patDet(i)">Detail</button>
       <a [routerLink]="[getNumSsecu(pat)]"> <button class="button">Modifier</button></a>
        <div class="example-button-row1" *ngIf="notAffected(pat);else other_content">
          <form class="example-form"  [formGroup]="interForm" (ngSubmit)="affectePatient(getNumSsecu(pat),inf.value)">
            <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width">
                <label for="intervenant"></label>
                <mat-select #inf id="intervenant" placeholder="intervenant" size="4" formControlName="intervenant" class="form-control" required autofocus>
                  <mat-option selected></mat-option>
                  <mat-option *ngFor="let infir of patients.infirmiers" value="{{infir.id}}">{{getNomPat(infir)}}</mat-option>
                </mat-select>
              </mat-form-field></td>
             <td> <button  class="button12">Affecter</button></td>
            </tr></table>
          </form>
        </div>
        <ng-template #other_content>
          <table>
            <tr>
              <td><b>intervenant : {{getInfirmiere(pat)}}</b></td>
              <td><button  class="button12" (click)="desAffectePatient(getNumSsecu(pat))">desAffecter</button></td>
            </tr>
          </table>
        </ng-template>
      </div>
    </mat-card >
 </mat-grid-tile>
</mat-grid-list>

<div class="example-button-row">
  <a routerLink="/addPat">
    <button mat-fab color="warn" >+</button>
  </a>
</div>
 <!---->
</div>
