<br><br>
<br><br>
<br><br>
<div style="text-align:center" class="container">
 <a class="btn"> Bienvenue au Cabinet Orand & Ghammaz!</a>
</div>
<br><br>
<div style="text-align:center" >
<img width="400"  src="assets/images/ordonnancier-infirmier_1_orig.jpg">
</div>
<div style="text-align:center">
  <h3>Adress : {{getET(cb.adresse)}} éme étage</h3>
  <h3>  {{getNum(cb.adresse)}} , rue : {{cb.adresse.rue}} , {{cb.adresse.ville}} - {{cb.adresse.codePostal}}</h3>
</div>

